* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position:relative;
  font-family: 'Ubuntu', sans-serif;
  background-color: #F5F8FA;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.float {
  float: left;
}

.nav {
  width: 50%;
  height: 50px;
  line-height: 50px;
}

.list-none {
  list-style: none;
}

a {
  text-decoration: none;
}

.botton-white {
  padding: 9px 20px;
  font-weight: 500;
  font-size: 13px;
  color: #fd7a5a;
  background-color: white;
  border: 1px solid #fd7a5a;
  border-radius: 3px;
}

.botton-white:hover,
.botton-white:focus,
.botton-white:active {
  background-color: rgba(234, 131, 98, 0.2);
}

.botton-orange {
  padding: 9px 20px;
  font-weight: 500;
  font-size: 13px;
  color: white;
  background-color: #fd7a5a;
  border-radius: 3px;
}

.botton-orange:hover,
.botton-orange:focus,
.botton-orange:active {
  background-color: rgba(234, 131, 98, 0.4);
}

/* NAV FIXED */
.nav-fixed {
  position: fixed;
  width: 100%;
  height: 80px;
  top:0;
  left: 0;
  padding: 15px 0;
  z-index: 1;
  border-top: 1px solid #a2a2a2;
  border-bottom: 1px solid #a2a2a2;
  background-color: #F5F8FA;
}
.nav-fixed-left {
  font-size: 15px;
  color: #32495b;
}
.space-en {
  margin: 0 7px;
}
.contact {
  margin: 0 20px;
  padding: 0 20px;
  border-left: 1.5px solid #a2a2a2;
}
.contact a {
  color: #32495b;
}

.nav-fixed-right li {
  display: inline-block;
  margin: 0 5px;
}
.nav-fixed-right ul {
  text-align: right;
}
.search {
  margin: 0 5px;
  font-size: 13px;
  color: #01b1b1;
}

/* NAV BOTTON */
.nav-bottom {
  margin-top: 80px;
  height: 80px;
  padding: 15px 0;
}

.nav-bottom-left {
  width: 30%;
  height: 50px;
  line-height: 50px;
}

.nav-bottom-left img {
  width: 90px;
  vertical-align: middle;
}

.nav-bottom-right {
  width: 70%;
  height: 50px;
  line-height: 50px;
  text-align: right;
}

.nav-bottom-right li {
  display: inline-block;
  padding: 0 10px;
  color: #545a64;
}

.nav-bottom-right a {
  color: #545a64;
  font-size: 15px;
  font-weight: 500;
}

/* JUMBO */
.jumbo {
  height: 800px;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/jumbotron.png);
}
.jumbo-title {
  width: 40%;
  padding-top: 100px;
}

.jumbo-title h1 {
  font-size: 46px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #32495b;
}

.jumbo-title p {
  margin-bottom: 45px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: #62748b;
}

.jumbo-title .botton-orange {
  font-size: 17px;
  padding: 25px 40px;
  margin-bottom: 40px;
}

.jumbo-small {
  padding: 40px 850px 0 0;
  font-size: 13px;
  line-height: 1.6;
  color: #62748b;

}

/* MAIN */
.hub {
  background-color: #F5F8FA;
}
.hub-cube {
  margin: 20px auto;
  padding-bottom: 40px;
  width: 70%;
  text-align: center;
}

.hub-cube h3 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #32495b;
}

.hub-cube p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: #62748b;
}

.hub-free {
  width: 100%;
  padding: 30px 0 60px;
  margin: 0 0 10px 0;
  box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.23);
  background-color: white;
  /* transition: transform 0.3s ease; */
}
/* .hub-free:hover {
  width:400px;
 height:200px;
} */



.hub-free-img {
  width: 33%;
  text-align: center;
}
.hub-free-img img {
  display: block;
  margin: 0 auto 30px;
}

.hub-free-img .botton-orange {
padding: 20px 50px;
}

.hub-free-text {
  width: 67%;
}
.hub-free-text h5 {
  display: inline-block;
}
.line {
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: black;
}

.hub-free-text li {
  display: inline-block;
}
.hub-col {
  width: calc(100% / 3);
  height: 200px;
  background-color: green;
  border: 1px solid black;
}

.learn-title  {
  text-align: center;
}

.learn-box {
  width: calc(100% / 4);
  height: 50px;
  background-color: beige;
  border: 1px solid black;
}

.partner-title {
  width: 50%;
  height: 100px;
  background-color: brown;
}
.partner-loghi {
  width: 50%;
  height: 100px;
  background-color: red;
}
.start-title {
  width: 50%;
  height: 100px;
  background-color: lightgreen;
}
.start-img {
  width: 50%;
  height: 100px;
  background-color: silver;
}

footer {
  height: 600px;
  background-color: darkblue;
}

.footer-col {
  width: calc(100% / 4);
  height: 400px;
  background-color: purple;
  border: 1px solid white;
}

.footer-main {
  height: 100px;
  background-color: grey;
}

.footer-bottom-left {
  width: 50%;
  height: 100px;
  background-color: orange;
}
.footer-bottom-right {
  width: 50%;
  height: 100px;
  background-color: azure;
}
